{
    "extends": "airbnb/base",
    "rules": {
        "one-var": [2, "always"],
        "indent": [2, 2, {
            "SwitchCase": 1,
            "VariableDeclarator": {
                "var": 2,
                "let": 2,
                "const": 3
            }
        }],
        "radix": 0,
        "quotes": [2, "double"],
        "comma-dangle": 0,
        "no-use-before-define": [2, "nofunc"],
        "no-param-reassign": 0,
        "no-nested-ternary": 0,
        "no-shadow": 0
    }
}
